<div
    class="h-screen w-full bg-white dark:bg-gray-900 overflow-hidden flex text-gray-800 dark:text-white transition-colors duration-300">

    <app-Sidebar [isOpen]="isSidebarOpen" [menuItems]="(menuData$ | async) || []"></app-Sidebar>

    <div class="flex-1 flex mt-5 flex-col h-full transition-all duration-300 ease-in-out relative"
        [ngClass]="{'md:ml-64': isSidebarOpen, 'md:ml-0': !isSidebarOpen}">

        <div class="shrink-0 z-40">
            <app-Topbar (toggleMenu)="toggleSidebar()"></app-Topbar>
        </div>

        <main class="flex-1 overflow-hidden p-4 lg:p-6 relative">
            <router-outlet></router-outlet>
        </main>

    </div>

</div>